* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: url(kompas.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
}
div .compas {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.noord {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.oost {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, 50%);    
}
.zuid {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.west {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, 50%);
}